.card {
  background:$light-gray;
  border:1px solid #fff;
  border-color:#fff #ebeadf #bbc2c6;
  border-radius: $global-radius;
  @include box-shadow(0 0 10px rgba(#000, 0.15));
  padding:2em 1.25em;
}
