table {
  background-color:transparent;
  border-collapse:collapse;
  border-spacing:0;
  margin-top:1.5em;
  max-width:100%;
}

.table {
  border:0;
  margin-bottom:20px;
  width:100%;

  thead, tfoot {
    border-top:1px solid #ddd;
    background:darken($light-gray,2%);
  }

  tr:nth-of-type(even) {
    background:darken($light-gray,2%);
  }

  th, td {
    background:none;
    border:0;
    border-top:1px solid #ddd;
    line-height:1.25;
    padding:.5em;
    text-align:left;
    vertical-align:top;
  }

  th { color:$dark-gray; }

  thead th { vertical-align:bottom; }

  thead:first-child tr:first-child th { border-top:0; }

  td { font-weight:200; }

  td:last-child, th:last-child {
    font-size:82%;
    padding-top:.8em;
  }

  td:last-child span {
    color:#7d8888;
    font-weight:400;
    letter-spacing:.05em;
  }
}
