@import 'bourbon';
@import 'foundation_and_overrides';
@import 'card';
@import 'tables';

body {
  font-size:150%;
  font-weight:normal;
  line-height:1.25;
  margin:0;

  @media (max-width:489px) {
    font-size:125%;
  }
}

a { text-decoration:none; }
a, a:visited { color:mix($green, $text, 65%); }
a:hover { color:$orange; }

b {
  color:$orange;
  letter-spacing:0.0625em;
}

.center {
  text-align:center;
}

.compact {
  margin-left: 3em;
  margin-right: 3em;
}

.give-me-space {
  margin:3em 0 2em;
}

h1, h2, h3, h4, h5, h6 {
  color:$dark-gray;
  margin:0;
}

h1 { font-size:2.5em; }
h2 { font-size:2em; }
h3 { font-size:1.75em; }
h4 { font-size:1.5em; }
h5 { font-size:1.125em; }
h6 { font-size:1em; }

#header {
  background-color:$green;
  border-bottom:4px solid $yellow;
  box-shadow: inset 0 -5px 30px rgba(#000, 0.25);
  padding:1em 0 4em;

  h1 { text-align:center; }
}

#main {
  border-top:2px solid $orange;

  .content { margin-top:-3em; }
}


.buckets {
  input.large, label.large { font-size:2em; }

  @media (max-width:489px) {
    input.large, label.large { font-size:1.5em; }
  }

  label.large {
    display:block;
    float:left;
    margin:.25em 0 0 .35em;
  }

  .input-wrap {
    margin-left:60px;

    @media (max-width:489px) {
      & { margin-left:45px;}
    }
  }

  input {
    border:2px solid #a2a9ad;
    border-radius:2px;
    color:$text;
    font-size:1em;
    letter-spacing:.05em;
    outline:none;
    padding:.25em .35em;

    @include transition(border-color .3s ease-in-out, box-shadow .3s ease-in-out);

    &.large {
      border-width:4px;
      border-radius:4px;
      padding:.25em .35em;
      width:100%;
    }

    &:focus {
      border-color:$green;
      box-shadow:0 0 5px 4px #f1e7d2;
    }

    @include placeholder {
      color:$gray;
      font-weight:200;
      letter-spacing:0;
    }
  }
}

#footer { margin-top:1em; }

.copyright {
  font-size:.75em;
  font-style:italic;
  font-weight:200;
  margin:0 2.5em;
  text-align:center;

  i {
    color:$orange;
    font-size:120%;
    font-style:normal;
    font-weight:400;
  }
}
