$server: 'https://s3.amazonaws.com/divvy-up/fonts/';

@font-face {
  font-family: 'Tenby Five';
  src: url($server + 'tenby-five-webfont.eot');
  src: url($server + 'tenby-five-webfont.eot?#iefix') format('embedded-opentype'),
       url($server + 'tenby-five-webfont.woff') format('woff'),
       url($server + 'tenby-five-webfont.ttf') format('truetype'),
       url($server + 'tenby-five-webfont.svg#TenbyFiveRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tenby Five';
  src: url($server + 'tenby-five-light-webfont.eot');
  src: url($server + 'tenby-five-light-webfont.eot?#iefix') format('embedded-opentype'),
       url($server + 'tenby-five-light-webfont.woff') format('woff'),
       url($server + 'tenby-five-light-webfont.ttf') format('truetype'),
       url($server + 'tenby-five-light-webfont.svg#TenbyFiveLightRegular') format('svg');
  font-weight: 200;
  font-style: normal;
}
