.card.buckets(ng-controller='BucketsCtrl')
  %label.large $
  .input-wrap
    %input.large(type='text' placeholder='Total to Divvy Up' ng-model='_amount')
  %table.table
    %thead
      %tr
        %th Divvy To
        %th Amount
        %th New Total
    %tbody
      %tr(ng-repeat="bucket in buckets | orderBy:'order'")
        %td {{ bucket.percentage * 100 }}% {{ bucket.name }}
        %td
          $
          %b {{ divvyAmount(bucket) | currency:'' }}
        %td
          $
          %span {{ totalAfterDivvying(bucket) | currency:'' }}
