!!!

/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en" ng-app='DivvyUp'>
/[if IE 7 ]    <html class="ie7" lang="en" ng-app='DivvyUp'>
/[if IE 8 ]    <html class="ie8" lang="en" ng-app='DivvyUp'>
/[if IE 9 ]    <html class="ie9" lang="en" ng-app='DivvyUp'>
/[if (gt IE 9)|!(IE)] <!--> <html lang="en" ng-app='DivvyUp'>

%head
  %meta(charset='utf-8')

  -# Set the viewport width to device width for mobile
  %meta(name="viewport" content="width=device-width,initial-scale=1.0")

  %title= content_for?(:title) ? yield(:title) : "Divvy Up to your buckets"
  = stylesheet_link_tag 'application'
  = javascript_include_tag "vendor/custom.modernizr"
  = csrf_meta_tag

%body.antialiased
  #header
    .row
      .small-12.columns.content
        %h1 DivvyUp


  #main
    .row
      .small-12.large-10.columns.small-centered.content
        = yield

  #footer
    .row
      .small-12.large-10.columns.small-centered.content
        %p.copyright
          %i Divvy Up
          was created by
          = link_to 'Dallas Reedy', 'http://dallasreedy.com', target: '_blank'
          to help him and his wife solve the simple workflow of divvying up
          their income into their various savings “buckets.”

  = javascript_include_tag 'application'

</html>
